Bottleneck==1.5.0
et_xmlfile==2.0.0
numexpr==2.11.0
numpy==2.3.1
openpyxl==3.1.5
pandas==2.3.1
psycopg==3.2.9
psycopg-binary==3.2.9
pyarrow==21.0.0
python-dateutil==2.9.0.post0
pytz==2025.2
six==1.17.0
SQLAlchemy==2.0.41
typing_extensions==4.14.1
tzdata==2025.2
wheel==0.45.1
xlsxwriter==3.2.5
